.homeHeader {
    text-align: center;
    color: #fff;
}
.homeHeader hr {
    display: block;
    border: 1px solid rgb(85, 85, 85);
}
.homeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTitle {
    color: #fff;
    font-size: 25px;
    margin-top: 20px;    
}
.carImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
}
.carImg img {
    border-radius: 10px;
}
.divImg{
    transition: .6s;
}
.divImg:hover{
    transform: scale(150%);
}
.container {
    max-width: 1140px;
    margin: 50px auto;
}